/*carrito */
#carrito-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 35px;
    font-size: 1.5rem;
    z-index: 100;
    background-color: var(--color-principal);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: transform .2s, background-color .3s ease;
    box-shadow: 0px 0px 20px var(--color-fondo);
}
#carrito-container:hover {
    transform: scale(1.1);

}
.carrito-click {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px var(--color-principal);
  }
  


#contador-carrito {
    position: absolute;
    top: 0;
    right: 0;
    top: -15px;
    right: -15px;
}


.producto-detalle__contenedor {
    display: none;
}

.producto-detalle__contenedor.activo {
    display: flex;
    gap: 2rem;
    background: var(--fondo-translucido);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.producto-detalle__imagen-contenedor {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.producto-detalle__imagen {
    aspect-ratio: 1;
    border-radius: 8px;
    width: 80%;
    object-fit: contain;
    margin: auto;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.producto-detalle__imagen:hover {
    transform: scale(1.05);
}

.producto-detalle__info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    flex:1;
}

.producto-detalle__titulo {
    font-size: 2rem;
    color: var(--color-principal);
    margin: 0;
    margin-bottom: 1rem;
}
.producto-detalle__precio {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secundario);
    margin: 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.producto-detalle__precio::after {
    content: "Disponible";
    position: absolute;
    background-color: var(--color-principal);
    padding: .2rem .5rem;
    top: -3px;
    right: 0;
    color: white ;
    border-radius: 99px;
    font-size: .8rem;
}

.producto-detalle__descripcion {
    color: var(--color-texto);
    background: var(--fondo-translucido);
    padding: 1rem;
    border-radius: 5px;
}
.producto-detalle__descripcion p {
    font-size: .9rem;
    line-height: 1.6;
    text-wrap: wrap;
}
.contador-circulo {
    display: inline-block
}

.navegacion__link {
    color: #cacaca;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
}
.navegacion__icon {
    display: block;
    width: 20px;
    height: 20px;
    filter: invert(100%);
    transition: filter 0.3s ease;
}
.navegacion__link:hover {
    color: #8b8b8b;
}
.navegacion__link:hover .navegacion__icon {
    filter: invert(50%);
}

.btn-comprar-ya {
    background-color: var(--color-principal);
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.btn-comprar-ya:hover {
    transform: scale(1.02);
}

.btn-agregar-carrito {
    background-color:transparent;
    border: 1px solid var(--color-principal);
    color: var(--color-principal);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: auto;
    width: 100%;
}

.btn-agregar-carrito:hover {
    transform: scale(1.05);
}

.btn-agregar-carrito.agregado {
    background-color: var(--color-secundario);
}



.producto-detalle__caracteristicas h2,
.producto-detalle__variantes h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-principal);
}

.producto-detalle__caracteristicas li,
.producto-detalle__variantes li {
    padding: 0.5rem 0;
    color: var(--color-texto);
    list-style: none;
}
.producto-detalle__caracteristicas li{
    
    border-bottom: 1px solid #686868;
}
#producto-variantes {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
#producto-variantes li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #686868;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#producto-variantes li.active {
    border-color: var(--color-principal);
    background: var(--color-principal);
    color: white;
}   


@media (max-width: 768px) {
    .producto-detalle__contenedor.activo {
        padding: 1rem;
    }
    .producto-detalle__contenedor {
        flex-direction: column;
    }
    
    .producto-detalle__titulo {
        font-size: 1.5rem;
    }
    
    .producto-detalle__precio {
        font-size: 1.2rem;
    }
}

.producto-detalle__loading {
    text-align: center;
    padding: 2rem;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--color-principal);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto 1rem;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.oculto {
    display: none !important;
} 
.otros_productos {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    h2 {
        margin-bottom: 1rem;
    }
}

.productos {
    display: flex;
    overflow: auto;
    gap: 2rem;
    padding-block: 1rem;
}
.productos::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.productos::-webkit-scrollbar-track {
    background: transparent;
}

.productos::-webkit-scrollbar-thumb {
    background: var(--color-principal);
    border-radius: 9999px;
}

.producto {
    flex: 0 0 calc(20% - 15px);
    height: auto;
    background-color: var(--fondo-translucido);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    display: flex;
    align-items: start;
    text-align: center;
    border-radius: 10px;
    scroll-snap-align: start;
    width: 100%;
    min-width: 200px;
    flex-direction: column; 
    position: relative;
    transition: transform .3s;
    border: 1px solid #ffffff36;
}

.producto {
    transition: transform 0.3s;
    position: relative;
}

.producto:hover {
    border: 1px solid rgba(var(--color-principal-rgb), 0.4);
}
.producto::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, transparent, rgba(var(--color-principal-rgb), 0.05), transparent);
    background-size: 300% 300%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    animation: borde-mov 2s linear infinite;
}

.producto:hover::before {
    opacity: 1;
}

@keyframes borde-mov {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.producto:hover {
    transform: translateY(-7PX);
}

.producto__imagen-contenedor {
    position: relative;
    width: calc(100% - 2rem);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 1rem;
}

.producto__imagen {
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    display: block;
    transition: transform 0.3s ease;
}

.producto__icono {
    font-size: 40px;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.6s ease, transform 0.6s ease;
    cursor: pointer;
    pointer-events: auto;

}




.producto__info {
    border-top: 3px solid var(--color-principal);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    
}

.producto__precio {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    color: var(--color-principal);
    margin: 10px;
    text-align: center;
    min-height:  39px;
}

.producto__descripcion.corta {
    white-space: normal;
    width: 100%;
    overflow: visible;
    text-overflow: unset;
    display: block;
}
.producto__descripcion {
    white-space: normal;
    padding: 0px 12px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.toggle-descripcion {
    background: none;
    border: none;
    color: var(--color-principal);
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}




.ver-mas-producto {
    position: relative;
    border: none;
    background: var(--color-principal);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: auto;
    color: var(--color-secundario);
    text-shadow: 0px 0px 10px var(--color-fondo);
    transition: transform 0.3s;
    overflow: hidden;
    z-index: 0;
}
.ver-mas-producto:hover {
    transform: scale(1.02);
}

.ver-mas-producto::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, transparent, #5427ceaa, transparent);
    background-size: 300% 300%;
    z-index: -1;
    opacity: 0;
    animation: borde-mov 2s linear infinite;
    pointer-events: none;
}

.ver-mas-producto:hover::before {
    opacity: 1;
    }
    
    @keyframes borde-mov {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.producto__descuento {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4444;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    z-index: 10;
}
@media (max-width: 768px) {
    #zoom {
        display: none !important;
    }
    .producto-detalle__imagen {
        cursor: default;
    }
}
    #zoom {
        display: none;
    position: absolute;
    inset: 0;
    max-width: 500px;
    max-height: 500px;
    margin-inline: auto;
    padding: 2rem;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    background-color: var(--fondo-translucido);

}
#zoom img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
