
.ubicacionmain {
    flex: 1 ;
    flex-basis: 0;
  }
  h2 {
    padding-bottom: 20px;
  }
  .mapa-container {
    height: 90%;
    width: 90%;
    background-color: #0005;
    backdrop-filter: blur(5px);
    margin: auto;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    position: relative;
  }
  
  .mapa {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
  }
  